{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo project</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/9280d41c57.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class=" nav-container">
        <div class="container-flex">
            <div class="logo">
                <img src="{% static '/images/logo2.png' %}" alt="">
                <a href="#" class="explore">Explore<i class="fa-solid fa-chevron-down"></i></a>
            </div>

            <div class="bar"><i class="fa-solid fa-bars" id="show-menu" onclick="showmenu()"></i></div>

            <ul id="nav">
                <li><a href="">Find your New career</a></li>
                <li><a href="">For Enterprise</a></li>
                <li><a href="">For University</a></li>
                <li><a href="" class="Log">Log in</a></li>
                <li><a href="" class="free">Join for Free</a></li>

                <div class="mark"><i class="fa-solid fa-xmark" id="hide-menu" onclick="hidemenu()"></i></div>

            </ul>
        </div>
    </div>

        <!-- HOME PAGE BEGINS -->
        <div class="home-container">
            <div class="home-flex">
                <div class="home">
                    <h1>
                        Learn without Limits
                    </h1>
                    <p>Start switch, or advance your career with more
                        than 5,400 courses, Professional certificates, 
                       and degrees from world-class universities and companies
                    </p>
                    <a href="#" class="Join">Join for Free</a>
                    <a href="#" class="Try">Try Coursera for Business</a>
                </div>
                <div class="home-image"><img src="{% static '/images/hompage.png' %}" alt=""></div>
            </div>
        </div>
        <!-- section begins -->
    
    <div class="section1-container">
        <h2>Why Skyline Ict works</h2>
        <div class="section1-flex">
            <div class="section1-row">
                <img src="{% static '/images/personalized_learning_icon.png'%}" alt="">
                <h4>Personalized Learning</h4>
                <p>Students practice at their own pace,
                 first filling the gap in their own understanding 
                 and then accelerating their learning</p>
            </div>
                <div class="section1-row">
                    <img src="{% static '/images/trusted_content_icon.png' %}" alt="" height="200">
                    <h4>Trusted content</h4>
                    <p>Created by expert skyline ict library of trusted practice and lesson cover math, science and more always free for learners and teachers</p>
                </div>
            <div class="section1-row">
                <img src="{% static '/images/empower_teachers_icon.png' %}" alt="">
                <h4>Tools to empower teachers</h4>
                <p>With skyline learning, teachers can identify gaps in their Students understanding, tailor instruction and  meet the need of every Student</p>
            </div>
        </div>
    </div>
    <!-- section 3 begins -->
    <div class="section3-container">
        <div class="section3">
        <h1>Master valuable programming <br> skills</h1>
        <a href="#">Get Started</a>
        </div>
    </div>

    <!-- section 4 begins -->
    <div class="section4-container">
        <div class="section4-flex">
            <div class="section4">
                <h2>Learners and Students</h2>
                <h1><span class="span">You</span> Can Learn <br> Anything</h1>
                <p>Build a deep, solid understanding in math, science, and more.</p>
                <a href="#"> Learners, start here</a>
            </div>
            <div class="section4">
                <img src="{% static '/images/px.png' %}" alt="">
            </div>
      
      
        </div>

    </div>

    <!-- section 5 begins -->
    <div class="section5-container">
        <div class="section5-flex">
            <div class="img1">
                <img src="{% static '/images/Bar1.PNG' %}" alt="" width="354" height="370">
            </div>

            <div class="The-Plan">
             <div class="Plan">THE PLAN</div>
             <P>We prioritize objective,remain competitive and optimized financial goals. 
                This enables us to differentiate our uniqueself from the competition, 
                measure progress offer the best chance at success. </P>
               <div class="ourp"><a href="#"><i class="fa-regular fa-square"></i>OUR PLAN</a></div>
            </div> 


            <div class="img2">
                <img src="{% static '/images/Std2.PNG' %}" alt="" width="354" height="370">
            </div>

            <div class="INNOVATE">
                <div class="INN">INNOVATE</div>
                <P>As leading legal service provider, we are client-centric with a future and    profit oriented law business model not undermining our desire to aid access to justice and inclusion</P>
                <div class="read"><a href="#"><i class="fa-regular fa-square"></i>READ MORE</a></div>
            </div>

               
        </div>
    </div>   

    <!-- SECTION 6 START -->

    <div class="section6-container">
        <div class="section6-flex">
            <img src="{% static '/images/1.png' %}" alt="" width="650" height="450">

            <div class="vision">
                <h2>Our Vision is very To Equip Nigerians. <span class="Real"> Real Results.</span></h2>
                <p>we are a nonprofit with the mission to provide, a free world class education for anyone, anywhere.</p>
                <a href="#">Learner</a>
                <a href="#">Student</a>
                <a href="#">Login</a>
            </div>
        </div>
    </div>

    <!-- FOOTER BEGINS HERE -->
    <div class="footer-container">
        <div class="footer-flex">
            <div class="footer-row">
                <h4>Portharcourt office</h4>
                <p>No 9 Aguma Street, ogbunabali Port Harcourt.
                    No 11 Ede Street Ogbunabali   Port Harcourt
                    What-saps-App or call +2348101524926,</p>
            </div>

            <div class="footer-row">
                <h4>About us</h4>
                <p>Skyline ICT Consult ltd is a highly professional I.C.T services provider, with the Vision of putting Business, organization and cooperate organizations onto the world  wide web, We provided quality services for our client…….</p>
            </div>
            <div class="footer-row">
                <h4>United Arab Emirates</h4>
                <p>Al Taawun St, Near Sharjah Palace hotel</p>
            </div>
            <div class="footer-row">
                <h4>UNITED STATE</h4>
                <p>St Petersburg florida, USA
                    Whatsapp or call: +13059286480</p>
            </div>
        </div>
    </div>
    <script>
        const menu = document.getElementById('nav'); 
        function showmenu(){
            menu.style.right='0';
        }
        function hidemenu(){
            menu.style.right='-202px';
        }
    </script>
    
       
</body>
</html>








 
      
       